.illustration {
  background-image: url(./assets/images/login-illustration.png),
    url(./assets/images/login-illustration-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fbfbfb;
  background-size: 80%, 110%;
}
